/* Grid Layout with Body */

.body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fr 3fr .5fr 2.5fr .5fr .3fr;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  background-color: black;
}

.head{
    grid-area: 1 / 1 / 2 / 4;
}

.phone{
    grid-area: 2 / 1 / 2 / 4;
}

.guide{
    grid-area: 3 / 1 / 4 / 4;
}

.camp{
    grid-area: 4 / 1 / 5 / 4;
}

.mobile{
    grid-area: 5 / 1 / 6 / 4;
}

.foot{
    grid-area: 6 / 1 / 7 / 4;

}

/* Font Styling */

.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#download{
    font-size: 16px;
    color: aquamarine;
}

.gray{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.rightalign{
    text-align: right;
}